
#main-content{
	padding:20px;
	border-radius: 5px;
	background-color: rgb(221, 221, 221);
	position:relative;
	width:520px;
	height:520px;
	left:20%;
}
#title{
	border-style:solid;
	border-width:5px;
	border-color:rgb(102, 153, 51);
	border-radius: 5px;
	text-align:center;
	background-color: rgb(204, 204, 153);
	font-size:24px;
	color:black;
	margin-bottom:10px;
}
#canvas{
	float:left;
	border-style:solid;
	border-width:5px;
	border-radius: 5px;
	border-color:rgb(102, 153, 51);
	background-image: url(../img/backgroundMap.jpg);
	background-repeat:no-repeat;
	background-size: 781.25% 781.25%;
	height:512px;
	width:512px;
}
#sidebar{
	float:right;
	border-style:solid;
	border-width:5px;
	border-radius: 5px;
	border-color:rgb(102, 153, 51);
	height:512px;
	width:150px;
}
#player{
	position:relative;
	background-image: url(../img/boy_large.png);
	background-size: 100% 100%;
	height:100%;
	width:100%;
	background-repeat:no-repeat;
}
#LoadingHint{
	position:relative;
	background-color:#ddd;
	top:50%;
	left:20%;
	width:50%;
	z-index:3000;
	font-size:48px;
}
#BtnRtn {
    position: absolute;
    left: 61%;
    top: 5%;
    z-index: 2000;
}
#BtnCol {
    position: absolute;
    left: 81%;
    top: 5%;
    z-index: 2000;
}
#All{
    margin: auto;
    background-image: url(/static/img/backgroundEating.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    width: 1440px;
    height: 810px;
    left: 0;
    right: 0;
}